/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//Imported Fonts

 @import url("https://use.typekit.net/pen2ljp.css");

 //Color from Pallete

 $darkblue: #0E394D;
 $neonblue1: #4FD5E9; //test of different tones for neonblue
 $neonblue: #08F7FE;
 $purple: #560A86;
 $lightpurple: #7122FA;
 $neonpink: #F148FB;
 $lightpink: #FFACFC;